/* ### Todo ###

# All
- same font-family (/)
- heading h1: (/)
    - Bolt
    - much bigger

# Main Site 
- list:
    - bigger (/)
    - each Link different color (/)

# Recipes Sites
- List Heading (h3) blue (/)
- Ingredient list elemtents green (/) */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: bold;
    font-size: 50px;
}

.index_list{
    font-size: 30px;
}

#l1{
    color: red;
}

#l2{
    color: blue;
}

#l3{
    color: green;
}

h3{
    color: brown;
}

ul{
    color: rgb(249, 75, 226);
}

/* * {
    border: 2px solid red;
  } */